---
layout: default
---
<h1 class="page-heading"><span class="icon">{{ page.icon }}</span> {{ page.title }}</h1>
{% if page.description %}<p class="page-intro">{{ page.description }}</p>{% endif %}

{{ content }}

{% assign groups = site.data.links[page.subject] %}
{% for group in groups %}
{% assign words = group[0] | replace: "_", " " | split: " " %}
{% capture heading %}{% for word in words %}{{ word | capitalize }} {% endfor %}{% endcapture %}
<section class="subarea">
  <h2>{{ heading | strip | replace: "Atl", "ATL" }}</h2>
  <div class="card-grid">
    {% for link in group[1] %}
      {% include card.html link=link %}
    {% endfor %}
  </div>
</section>
{% endfor %}
